<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>交大有思-招新报名</title>
  <link href="https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="../static/bootstrap.css" type="text/css">
</head>

<body style="max-width:500px;margin: 5px auto;height: 100%">
  <div class="container">
    <img src="../static/1.gif" alt="Youth" class="img-fluid">
    <form action="/todos" method="POST" id="form">
      {% csrf_token %}
      <h2 class="text-center">交大有思·招新报名</h2>
      <div class="form-group">
        <label for="name">姓名</label>
        <input class="form-control" type="text" name="name" id="name">
      </div>

      <div class="form-group">
        <label for="college">学院</label>
        <input class="form-control" type="text" name="college" id="college">
      </div>

      <div class="form-group">
        <label for="phone">手机号码</label>
        <input class="form-control" type="tel" name="phone" id="phone">
      </div>

      <div class="form-group">
        <label>性别</label>
        <label for="male" class="radio-inline">
          <input type="radio" name="sex" value="male" id="male"> 男
        </label>
        <label for="female" class="radio-inline">
          <input type="radio" name="sex" value="female" id="female"> 女
        </label>
      </div>

      <div class="form-group">
        <label for="grade">年级</label>
        <select class="form-control" id="grade" name="grade">
          <option value="2018">2018级</option>
          <option value="2017">2017级</option>
          <option value="2016">2016级</option>
          <option value="2015">2015级</option>
          <option value="other">其它</option>
        </select>
      </div>

      <div class="form-group">
        <label for="dept">初步意向部门</label>
        <select class="form-control" id="dept" name="dept">
          <option value="----">----</option>
          <option value="交互">交互</option>
          <option value="沙龙">沙龙</option>
          <option value="创意">创意工厂</option>
          <option value="手机报">手机报</option>
          <option value="实验室">实验室</option>
        </select>
      </div>

      <div class="form-group text-center" style="margin-top:2rem">
        <button type="submit" id="submit" class="btn btn-primary">提交</button>
        <button type="reset" id="reset" class="btn btn-danger">重置</button>
      </div>

    </form>
    <footer class="small text-center">©交大有思·实验室</footer>
  </div>
</body>
<script src="/static/form.js"></script>

</html>