<!DOCTYPE HTML>
<html lang="zh-CN">

<head>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
  <title>交大有思-招新报名</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css" type="text/css">
  <link rel="stylesheet" href="/static/bootstrap.css" type="text/css">
</head>

<body style="max-width:500px;margin: 5px auto;height: 100%">
  <div class="container">
    <script>alert("提交成功 后台已收到您的报名信息")</script>
    <p class="lead">提交成功 <br> 后台已收到您的报名信息</p class="lead">
  </div>
</body>

</html>